site_name: Laboratory
site_description: A feature flags library for multi-module Kotlin Android projects
site_author: Michał Sikora
site_url: https://mehow.io/laboratory/
repo_name: Laboratory
repo_url: https://github.com/MiSikora/laboratory/
edit_uri: edit/trunk/library/docs
remote_branch: gh-pages

copyright: Copyright &copy; 2020 Michał Sikora

extra_css:
  - css/site.css

theme:
  name: material
  logo: images/laboratory_logo_menu.svg
  favicon: images/laboratory_logo.ico
  palette:
    primary: blue
    accent: light blue
  custom_dir: .mkdocs-theme

markdown_extensions:
  - smarty
  - attr_list
  - admonition
  - codehilite:
      guess_lang: false
  - toc:
      permalink: true
  - pymdownx.superfences

plugins:
  - search
  - minify:
      minify_html: true

nav:
  - 'Quick start': index.md
  - 'User guide': user-guide.md
  - 'QA module': qa-module.md
  - 'Gradle plugin': gradle-plugin.md
  - 'API':
      - 'laboratory': api/laboratory/index.html
      - 'gradle-plugin': api/gradle-plugin/index.html
      - 'data-store': api/data-store/index.html
      - 'inspector': api/inspector/index.html
      - 'shared-preferences': api/shared-preferences/index.html
  - 'Changelog': changelog.md
  - 'Releasing': releasing.md
