name: Snapshot
on:
  workflow_dispatch:
  push:
    branches:
      - trunk

jobs:
  publish-snapshot:
    if: ${{ github.repository == 'MiSikora/laboratory' }}
    name: Publish Snapshot
    runs-on: ubuntu-latest
    steps:
      - name: Cancel Previous Runs
        uses: styfle/cancel-workflow-action@0.9.0

      - name: Checkout Repo
        uses: actions/checkout@v2.3.4

      - name: Configure JDK
        uses: actions/setup-java@v2.0.0
        with:
          distribution: adopt
          java-version: 16

      - name: Cache Gradle Dirs
        uses: actions/cache@v2.1.5
        with:
          path: |
            ~/.gradle/caches/
            ~/.gradle/wrapper/
          key: cache-gradle-${{ hashFiles('**/*.gradle', '**/gradle-wrapper.properties') }}
          restore-keys: cache-gradle-

      - name: Deploy Snapshot
        env:
          ORG_GRADLE_PROJECT_mavenCentralRepositoryUsername: ${{ secrets.SONATYPE_NEXUS_USERNAME }}
          ORG_GRADLE_PROJECT_mavenCentralRepositoryPassword: ${{ secrets.SONATYPE_NEXUS_PASSWORD }}
        run: ./gradlew -p library publish --no-daemon --no-parallel --stacktrace

      - name: Build HTML Docs
        run: ./gradlew -p library dokkaHtml --stacktrace

      - name: Stop Gradle
        run: ./gradlew --stop

      - name: Publish Website
        uses: mhausenblas/mkdocs-deploy-gh-pages@1.18
        env:
          CONFIG_FILE: ./library/mkdocs.yml
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
