name: Release
on:
  workflow_dispatch:
  push:
    tags:
      - '*.*.*'

jobs:
  publish-release:
    if: ${{ github.repository == 'MiSikora/laboratory' }}
    name: Publish Release
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repo
        uses: actions/checkout@v2.3.4

      - name: Configure JDK
        uses: actions/setup-java@v2.0.0
        with:
          distribution: adopt
          java-version: 16

      - name: Cache Gradle Dirs
        uses: actions/cache@v2.1.5
        with:
          path: |
            ~/.gradle/caches/
            ~/.gradle/wrapper/
          key: cache-gradle-${{ hashFiles('**/*.gradle', '**/gradle-wrapper.properties') }}
          restore-keys: cache-gradle-

      - name: Deploy Release
        env:
          ORG_GRADLE_PROJECT_mavenCentralRepositoryUsername: ${{ secrets.SONATYPE_NEXUS_USERNAME }}
          ORG_GRADLE_PROJECT_mavenCentralRepositoryPassword: ${{ secrets.SONATYPE_NEXUS_PASSWORD }}
          ORG_GRADLE_PROJECT_SONATYPE_NEXUS_SIGNING_KEY: ${{ secrets.SONATYPE_NEXUS_SIGNING_KEY }}
        run: ./gradlew -p library publish --no-daemon --no-parallel --stacktrace

      - name: Stop Gradle
        run: ./gradlew --stop

      - name: Extract Release Notes
        id: release-notes
        uses: ffurrer2/extract-release-notes@v1.5.0
        with:
          changelog_file: ./library/docs/changelog.md

      - name: Create GitHub Release
        uses: softprops/action-gh-release@v0.1.5
        with:
          body: ${{ steps.release-notes.outputs.release_notes }}
          files: |
            ./library/*/build/outputs/aar/*.aar
            ./library/*/build/libs/!(*-sources|*-javadoc).jar
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
